.comment-nav {
  position: relative;
  width: 100%; 
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0px;

  .back-btn {
    position: absolute;
    left: 0;
  }

  p {
   size: 16px;
  }
}

.comment-post {
  display: flex;
  margin-bottom: 30px;

  .comment-body {
    flex: 1;
    min-width: 0;

      a {
        text-decoration: none;
        color: inherit;
      }
  }
}

.comment-account-name {
  p {
  size: 16px;
  padding: 0px 10px;
  }
}

.comment-icon img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover; 
}

.comment-content {
  p {
  font-size: 14px;
  color: #9B9B9B;
  padding: 5px 10px;

  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  }
}

.textarea-wrapper {
  width: 100%;
  display: flex;
  margin: 0px 0px;
  gap: 10px;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
}

.image-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.flex-grow {
  flex: 1;
  display: flex;
}

.comment-submit {
  width: 100%;
  box-shadow: 0px 4px 12px 0px #00000026;
  border: 0.5px solid rgba(204, 204, 204, 0.5);
  padding: 0.75em 0.5em;
  resize: vertical;
  outline: none;
  margin-right: 30px;
  margin-bottom: 30px;
}

.field_with_errors {
  display: contents;
}


